<div *ngIf="isLoggedAdmin" class="row mt-4">
  <h3 class="text-center">Gestión de productos</h3>
  <p class="text-center">En esta sección pueden gestionarse los productos de la aplicación.</p>
</div>
<div *ngIf="isLoggedUser && !isLoggedAdmin" class="row mt-4">
  <h3 class="text-center">Productos disponibles en tienda</h3>
  <p class="text-center">En esta sección pueden consultarse los productos disponibles y añadirlos al carro de la compra. Click en el producto paraver su ficha completa.</p>
</div>

<div class="row" style="justify-content: center;">
  <button *ngIf="isLoggedAdmin" class="btn btn-primary col-6 col-lg-2" data-bs-toggle="modal" data-bs-target="#agregarModal">Añadir producto nuevo</button>
</div>

<div class="text-center my-2">
  <form action="">
    <input class="mx-2" type="text" name="palabras" [(ngModel)]="palabras">
    <button class="btn btn-sm btn-success" (click)="filtrar()">BUSCAR</button>
  </form>
</div>

<div *ngFor="let producto of productos" style="display:inline-block;" class="col-12 col-md-6 col-xxl-3">
  <app-producto *ngIf="producto.imagenPrincipal[0] !== undefined" [producto]="producto"
    (modificarProductoEvent)="abrirModalModificacion($event)" (eliminarProductoEvent)="eliminarProducto($event)">
  </app-producto>
</div>


<!-- Modal Modificar producto-->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" class="m-4">
          <div class="m-2 row">
            <label for="nombre" class="col-3">Nombre: </label>
            <input type="text" name="nombre" [(ngModel)]="producto.nombre" class="col-9">
          </div>
          <div class="m-2 row">
            <label for="descripcion" class="col-3">Descripción corta: </label>
            <textarea type="text" name="descripcion" [(ngModel)]="producto.descripcion" class="col-9"
              rows="3"></textarea>
          </div>
          <div class="m-2 row">
            <label for="descripcion" class="col-3">Descripción Larga: </label>
            <textarea type="text" name="descripcionLarga" [(ngModel)]="producto.descripcionLarga" class="col-9"
              rows="12"></textarea>
          </div>
          <div class="m-2 row">
            <label for="" class="col-3">Precio: </label>
            <input type="number" name="precio" [(ngModel)]="producto.precio" class="col-9">
          </div>
          <div class="m-2 row">
            <label for="" class="col-3">Seccion: </label>
            <select name="seccion" id="">Seccion:
              <div *ngFor="let seccion of secciones">
                <option value={{seccion}}>{{seccion.nombre}}</option>
              </div>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn btn-warning" (click)="modificarProducto()" data-bs-dismiss="modal">MODIFICAR</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar producto-->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto Nuevo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" class="">
          <div class="m-2 row">
            <label for="nombre" class="col-3">Nombre: </label>
            <input type="text" name="nombre" [(ngModel)]="productoNuevo.nombre" class="col-9">
          </div>
          <div class="m-2 row">
            <label for="descripcion" class="col-3">Descripción corta: </label>
            <textarea type="text" name="descripcion" [(ngModel)]="productoNuevo.descripcion" class="col-9"
              rows="3"></textarea>
          </div>
          <div class="m-2 row">
            <label for="descripcion" class="col-3">Descripción Larga: </label>
            <textarea type="text" name="descripcionLarga" [(ngModel)]="productoNuevo.descripcionLarga" class="col-9"
              rows="12"></textarea>
          </div>
          <div class="m-2 row">
            <label for="" class="col-3">Precio: </label>
            <input type="number" name="precio" [(ngModel)]="productoNuevo.precio" class="col-9">
          </div>
          <div class="m-2 row">
            <label for="" class="col-3">Seccion: </label>
            <select name="seccion" id="" [(ngModel)]="productoNuevo.seccion.id">Seccion:
                <option *ngFor="let seccion of secciones" value={{seccion.id}}>{{seccion.nombre}}</option>
            </select>
          </div>
        </form>

        <div class="m-1">
          <div id="cargarImagenes" class="m-4">
            <div>
              <h5>Cargar imagen principal</h5>
              <form action="" id="uploader1" class="my-2">
                <input type="file" id="file" (change)="seleccionarImagen($event)">
              </form>
            </div>
            <div *ngIf="imagenPrincipalASubir.nombre !== ''" class="container-fluid" id="imagenUnica">
              <app-imagen [imagen]=imagenPrincipalASubir (deselectImageEvent)="deseleccionarImagen($event)">
              </app-imagen>
            </div>
            <div class="mt-3">
              <h5>Cargar imagenes secundarias</h5>
              <form action="" id="uploader2" class="my-2">
                <input type="file" multiple="true" name="archivos[]" id="files" (change)="seleccionarImagenes($event)">
              </form>
            </div>
            <div class="container-fluid" id="imagenesVarias">
              <div *ngFor="let imagen of imagenesSecundariasASubir" class="m-1 bucleFotografias"
                style="display: inline-block;">
                <app-imagen [imagen]=imagen [id]=id (deselectImageEvent)="deseleccionarImagenes($event)"></app-imagen>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="agregarProducto()" data-bs-dismiss="modal">Crear producto</button>
      </div>
    </div>
  </div>
</div>