<div class="row m-4">
  <h3 class="text-center">Carro de la compra</h3>
  <p class="text-center">En esta sección puede consultarse el carro dela compra del usuario.</p>
</div>
<div class="row m-4 p-2">
  <div class="d-none d-lg-block col-lg-2"><b>NOMBRE</b></div>
  <div class="d-none d-lg-block col-lg-5"><b>DESCRIPCION</b></div>
  <div class="d-none d-lg-block  col-lg-1"><b>PRECIO</b></div>
  <div class="d-none d-lg-block col-lg-4"><b>CANTIDAD</b></div>
</div>
<div *ngFor="let productoCarro of carro">
  <app-producto-carro [productoCarro]="productoCarro" (quitarUnidadEvent)="quitarUnidad($event)"
    (sumarUnidadEvent)="sumarUnidad($event)"></app-producto-carro>
</div>

<div class="text-center">
  <p><b>PRECIO TOTAL: {{precioTotal}} EUROS</b></p>
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#direccionModal">Realizar pedido</button>
</div>

<!-- Modal Direccion de entrega-->
<div class="modal fade" id="direccionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Direccion de entrega</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" class="">

          <div *ngIf="usuario" class="m-2 row">
            <label for="" class="col-3">Direcciones del usuario: </label>
            <select name="direccion" id="" class="col-8" [(ngModel)]="direccionEntrega.id"> 
                <option  *ngFor="let direccion of usuario.direccionesEntrega" value={{direccion.id}}>{{direccion.calle}}, Nº {{direccion.numero}}, piso {{direccion.piso}}
                  , puerta {{direccion.puerta}}, {{direccion.ciudad}}
                </option>
            </select>
          </div>

          <div class="row">
            <button class="btn btn-success" (click)="realizarPedido()">Enviar a direccion selecionada</button>
          </div>
          <hr>
          <h6>Nueva dirección</h6>
          <div class="m-2 row">
            <label for="ciudad" class="col-2">Ciudad: </label>
            <input type="text" name="ciudad" [(ngModel)]="direccionEntrega.ciudad" class="col-4">
            <label for="calle" class="col-2">Calle: </label>
            <input type="text" name="calle" [(ngModel)]="direccionEntrega.calle" class="col-4">
          </div>
          <div class="m-2 row">
            <label for="numero" class="col-2">Numero: </label>
            <input type="text" name="numero" [(ngModel)]="direccionEntrega.numero" class="col-2">
            <label for="piso" class="col-2">Piso: </label>
            <input type="text" name="piso" [(ngModel)]="direccionEntrega.piso" class="col-2">

          </div>
          <div class="m-2 row">
            <label for="puerta" class="col-2">Puerta: </label>
            <input type="text" name="puerta" [(ngModel)]="direccionEntrega.puerta" class="col-2">
            <label for="codigo" class="col-2">Codigo postal: </label>
            <input type="text" name="codigo" [(ngModel)]="direccionEntrega.codigoPostal" class="col-4">
          </div>
          <div class="row">
            <button class="btn btn-primary" (click)="agregarDireccion()">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>