<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:blueviolet">
  <div class="container-fluid">
    <a class="navbar-brand col-1" href="#">ECommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-9">
        <li>
          <app-navbar-seguro></app-navbar-seguro>
        </li>
      </ul>
      <div class="col-1"></div>
      <div class="col-5">
          <app-login></app-login>
      </div>
    </div>
  </div>
</nav> 