<div class="row m-4">
  <h3 class="text-center">Gestión de secciones</h3>
  <p class="text-center">En esta sección pueden agregarse, modificar o eliminar secciones de la aplicación.</p>
</div>
<div *ngFor="let seccion of secciones">
  <app-seccion [seccion]="seccion" (eliminarSeccion)="eliminarSeccion($event)" (modificarSeccion)="abrirModalModificacion($event)"></app-seccion>
</div>
<div class="text-center">
  <button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#agregarModal">AÑADIR SECCION NUEVA</button>
</div>


<!-- Modal Agregar seccion-->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Seccion Nueva</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" class="">
          <div class="m-2 row">
            <label for="nombre" class="col-3">Nombre: </label>
            <input type="text" name="nombre" [(ngModel)]="seccionNueva.nombre" class="col-9">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="nuevaSeccion()" data-bs-dismiss="modal">Crear
          seccion</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Modificar seccion-->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Seccion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" class="">
          <div class="m-2 row">
            <label for="nombre" class="col-3">Nombre: </label>
            <input type="text" name="nombre" [(ngModel)]="seccionNueva.nombre" class="col-9">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="modificarSeccion()" data-bs-dismiss="modal">Modificar Seccion</button>
      </div>
    </div>
  </div>
</div>