<div class="row mx-4 my-2 p-2" style="background: rgb(252, 249, 249); box-shadow: 2px 2px 10px #666; border-radius: 5px;">
    <div class="col-1"></div>
    <div class="col-1">{{pedido.id}}</div>
    <div class="col-2">{{fechaPedido}}</div>
    <div *ngIf="pedido.fechaEnvio; else noEnviado" class="col-2">{{fechaEnvio}}</div>
    <ng-template #noEnviado><div class="col-2">Pendiente</div></ng-template>
    <div class="col-1">{{pedido.precioTotal}}</div>
    <div *ngIf="pedido.fechaEntrega; else noRecibido"class="col-2">{{fechaEntrega}}</div>
    <ng-template #noRecibido><div class="col-2">Pendiente</div></ng-template>
    <div class="col-1"><button class="btn btn-primary" (click)="eliminarPedido()">ELIMINAR</button></div>
    <div class="col-1"><button class="btn btn-primary" (click)="enviarPedido()">ENVIAR</button></div>
    <div class="col-1"><button class="btn btn-primary" (click)="entregarPedido()">ENTREGAR</button></div>
</div>