<div class="container-fluid text-center">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto mb-2 mb-lg-0 text-center" style="margin: 0 auto">

      <li class="nav-item mx-1">
        <a class="nav-link active" aria-current="page" href="#" routerLink="" (click)="cerrarNavBar()">Inicio</a>
      </li>

      <li *ngIf="isLoggedUser" class="nav-item dropdown mx-1 col-12 col-lg-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Productos
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngFor="let seccion of secciones" class="nav-item mx-1"><a href="#" class="dropdown-item"
              [routerLink]="['productos/seccion', seccion.id]" routerLinkActive="active">{{seccion.nombre}}</a> </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li *ngIf="isLoggedUser" class="nav-item mx-1">
            <a class="dropdown-item" href="#" routerLink="productos/productos" (click)="cerrarNavBar()">Todos</a>
          </li>
        </ul>
      </li>
      <li *ngIf="isLoggedUser && !isLoggedAdmin" class="nav-item mx-1">
        <a class="nav-link" href="#" routerLink="productos/carro" (click)="cerrarNavBar()">Carro de la compra</a>
      </li>
      <li *ngIf="isLoggedUser" class="nav-item mx-1 col-12 col-lg-3">
        <a class="nav-link" href="#" routerLink="pedidos/pedidos" (click)="cerrarNavBar()">Mis pedidos</a>
      </li>

      <li *ngIf="isLoggedAdmin" class="nav-item dropdown mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Administración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="seguridad/usuarios" (click)="cerrarNavBar()">Usuarios</a>
          <a class="dropdown-item" routerLink="secciones/secciones" (click)="cerrarNavBar()">Secciones</a>
        </div>
      </li>
    </ul>
  </div>
</div>