<img src="../../../../assets/PeterFonkel.png" alt="" style="display: block; margin: auto; width: 300px; margin-top: 20px;">


<div  style="text-align: center;">
    <h2>Peter Fonkel</h2>
    <p><b>Aplicacion API REST de E-commerce con productos y pedidos</b></p>
    <p>1. Backend SPRING (JAVA).</p>
    <p>2. Frontend ANGULAR (HTML,CSS,TS).</p>
    <p>3. Control de identidad (email y password) con Firebase.</p>
    <p>4. Control de acceso/permisos en la API con JWT.</p>
    <p>5. Almacenamiento de imagenes en Firebase.</p>
    <p>6. Base de datos SQL.</p>
    <p>7. Navbar variable en función del ROL del usuario loggeado.</p>
    <p>8. Roles de usuario y de Administrador</p>
</div>